page-chapter-add {
  .text-input,
  ion-label {
    color: theme-colors("textColors", "primary") !important;
  }

  .item-inner {
    margin-left: 10px !important;
    border-bottom-color: theme-colors("mainColors", "secondary") !important;
    box-shadow: none !important;
  }
}
