<ion-header>
  <ion-navbar>
    <ion-title>Member Application</ion-title>
    <ion-buttons end>
      <button>Export to PDF </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row padding>
      <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <!--Logo-->
        <div class="logo">
          <img src="assets/images/logo/lamaHandsRoundCornersLogo.png">
        </div>
        <!--End logo-->
      </ion-col>
    </ion-row>

    <div class="form">
      <!--Form-->
      <form [formGroup]="applicationForm">
        <!-- <div> -->
        <ion-row nowrap justify-content: center>
          <ion-col align="center">
            <ion-label>{{mockMember.firstName}} {{mockMember.lastName}}</ion-label>
          </ion-col>
          <ion-col align="left">
            <ion-label>{{mockMember.email}}</ion-label>
          </ion-col>
        </ion-row>
        <!-- </div> -->
        <ion-row>
          <ion-col>
            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Address</ion-label>
                <ion-input type="text" formControlName="address"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.address">
                <div class="error-message" *ngIf="applicationForm.get('address').hasError(validation.type) && (applicationForm.get('address').dirty || applicationForm.get('address').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>City</ion-label>
                <ion-input type="text" formControlName="city"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.city">
                <div class="error-message" *ngIf="applicationForm.get('city').hasError(validation.type) && (applicationForm.get('city').dirty || applicationForm.get('city').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>State</ion-label>
                <ion-input type="text" formControlName="state"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.state">
                <div class="error-message" *ngIf="applicationForm.get('state').hasError(validation.type) && (applicationForm.get('state').dirty || applicationForm.get('state').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Zip Code</ion-label>
                <ion-input type="text" formControlName="zipCode"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.zipCode">
                <div class="error-message" *ngIf="applicationForm.get('zipCode').hasError(validation.type) && (applicationForm.get('zipCode').dirty || applicationForm.get('zipCode').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div formGroupName="country_phone">
              <ion-item no-padding color="accent">
                <ion-label floating>Country</ion-label>
                <ion-select formControlName="country" interface=popover cancelText="Cancel" okText="OK">
                  <ion-option *ngFor="let item of countries" [value]="item">{{item.name}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item no-padding color="accent">
                <ion-input [textMask]="{mask: applicationForm.value.country_phone.country.phone_mask}" placeholder="{{ applicationForm.value.country_phone.country.sample_phone }}"
                  type="text" formControlName="phone"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.phone">
                  <div class="error-message" *ngIf="applicationForm.get('country_phone').get('phone').hasError(validation.type) && (applicationForm.get('country_phone').get('phone').dirty || applicationForm.get('country_phone').get('phone').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>

          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>

          </ion-col>
        </ion-row>

      </form>
    </div>
  </ion-grid>

</ion-content>
