<ion-header>
  <ion-navbar>
    <ion-title>Member Application</ion-title>
    <ion-buttons end>
      <button>Export to PDF </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row padding>
      <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <!--Logo-->
        <div class="logo">
          <img src="assets/images/logo/lamaHandsRoundCornersLogo.png">
        </div>
        <!--End logo-->
      </ion-col>
    </ion-row>

    <div class="form">
      <!--Form-->
      <form [formGroup]="applicationForm">

        <ion-row nowrap justify-content: center>
          <ion-col align="center">
            <ion-label>L.A.M.A. {{mockMember.chapter}}</ion-label>
          </ion-col>
          <ion-col align="center">
            <ion-label>{{mockMember.firstName}} {{mockMember.lastName}}</ion-label>
          </ion-col>
          <ion-col align="center">
            <ion-label>{{mockMember.title}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>

            <ion-item no-padding color="accent">
              <ion-label floating>Address</ion-label>
              <ion-input type="text" formControlName="address"></ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validation_messages.address">
              <div class="error-message" *ngIf="applicationForm.get('address').hasError(validation.type) && (applicationForm.get('address').dirty || applicationForm.get('address').touched)">
                {{ validation.message }}
              </div>
            </ng-container>

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item no-padding color="accent">
              <ion-label floating>City</ion-label>
              <ion-input type="text" formControlName="city"></ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validation_messages.city">
              <div class="error-message" *ngIf="applicationForm.get('city').hasError(validation.type) && (applicationForm.get('city').dirty || applicationForm.get('city').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item no-padding color="accent">
              <ion-label floating>State</ion-label>
              <ion-input type="text" formControlName="state"></ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validation_messages.state">
              <div class="error-message" *ngIf="applicationForm.get('state').hasError(validation.type) && (applicationForm.get('state').dirty || applicationForm.get('state').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item no-padding color="accent">
              <ion-label floating>Zip Code</ion-label>
              <ion-input type="text" formControlName="zipCode"></ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validation_messages.zipCode">
              <div class="error-message" *ngIf="applicationForm.get('zipCode').hasError(validation.type) && (applicationForm.get('zipCode').dirty || applicationForm.get('zipCode').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div formGroupName="country_phone">
              <ion-item no-padding color="accent">
                <ion-label floating>Country</ion-label>
                <ion-select formControlName="country" interface=popover cancelText="Cancel" okText="OK">
                  <ion-option *ngFor="let item of countries" [value]="item">{{item.name}}</ion-option>
                </ion-select>
              </ion-item>
              <ion-item no-padding color="accent">
                <ion-input [textMask]="{mask: applicationForm.value.country_phone.country.phone_mask}" placeholder="{{ applicationForm.value.country_phone.country.sample_phone }}"
                  type="text" formControlName="phone"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.phone">
                  <div class="error-message" *ngIf="applicationForm.get('country_phone').get('phone').hasError(validation.type) && (applicationForm.get('country_phone').get('phone').dirty || applicationForm.get('country_phone').get('phone').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item no-padding color="accent">
              <ion-label floating>Gender</ion-label>
              <ion-select formControlName="gender" interface=popover cancelText="Cancel" okText="OK">
                <ion-option *ngFor="let gender of genders" [value]="gender">{{ gender }}</ion-option>
              </ion-select>
            </ion-item>
            <!-- <ng-container *ngFor="let validation of validation_messages.gender">
              <div class="error-message" *ngIf="!(applicationForm.get('gender').touched)">
                {{ validation.message }}
              </div>
            </ng-container> -->
          </ion-col>
          <ion-col>
            <ion-item no-padding color="accent">
              <ion-label floating>Age</ion-label>
              <ion-input formControlName="age" type="number"></ion-input>
            </ion-item>
            <ng-container *ngFor="let validation of validation_messages.age">
              <div class="error-message" *ngIf="applicationForm.get('age').hasError(validation.type) && (applicationForm.get('age').dirty || applicationForm.get('age').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Date of Birth</ion-label>
                <ion-datetime></ion-datetime>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Place of Birth</ion-label>
                <ion-input type="text" formControlName="placeOfBirth"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.placeOfBirth">
                <div class="error-message" *ngIf="applicationForm.get('placeOfBirth').hasError(validation.type) && (applicationForm.get('placeOfBirth').dirty || applicationForm.get('placeOfBirth').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>License?</ion-label>
                <ion-select formControlName="haveMotorcycleLicense" interface="popover" cancelText="Cancel" okText="OK">
                  <ion-option *ngFor="let haveMotorcycleLicense of yesOrNo" [value]="haveMotorcycleLicense">{{ haveMotorcycleLicense }}</ion-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Years Riding</ion-label>
                <ion-input formControlName="yearsRiding" type="number"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.yearsRiding">
                <div class="error-message" *ngIf="applicationForm.get('yearsRiding').hasError(validation.type) && (applicationForm.get('yearsRiding').dirty || applicationForm.get('yearsRiding').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width="100%" align="center">
            <ion-label>Motorcycle Information</ion-label>
          </ion-col>
        </ion-row>
        <ion-row card-background-page>
          <ion-col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
            <ion-list formArrayName="motorcycles" no-lines>
              <div *ngFor="let applicationForm of applicationForm.controls.motorcycles.controls; let i=index">
                <div [formGroupName]="i">
                  <ion-card text-left>
                    <!--Card-content-->
                    <ion-card-content>
                      <ion-card-header no-padding><h2 card-header>Motorcycle #{{ i + 1 }}</h2>
                        <ion-buttons end>
                        <button ion-button outline (click)="removeMotorcycle(i)" color="danger" type="button"><ion-icon name="trash"></ion-icon></button>
                        </ion-buttons>
                      </ion-card-header>
                      <ion-row>
                        <ion-col>
                          <ion-item no-padding color="accent">
                            <!-- <ion-label>Yr</ion-label> -->
                            <ion-input type="text" formControlName="year" required placeholder="-Year-"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col>
                          <ion-item no-padding color="accent">
                            <!-- <ion-label>Color</ion-label> -->
                            <ion-input type="text" formControlName="color" required placeholder="-Color-"></ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-item no-padding color="accent">
                        <ion-input type="text" formControlName="make" required placeholder="-Make-"></ion-input>
                      </ion-item>
                      <ion-item no-padding color="accent">
                        <ion-input type="text" formControlName="model" required placeholder="-Model-"></ion-input>
                      </ion-item>
                      <ion-item no-padding color="accent">
                        <ion-input type="text" formControlName="licensePlate" required placeholder="Plate#"></ion-input>
                      </ion-item>
                      <ion-item no-padding color="accent">
                        <ion-input type="number" formControlName="currentMileage" placeholder="Current Mileage"></ion-input>
                      </ion-item>
                      <!-- <ion-card-title no-padding><h2 card-title>Motorcycle #{{ i + 1 }}</h2></ion-card-title> -->
                      <!-- <h3 card-subtitle>222</h3>
                      <h3 card-subtitle>333</h3>
                      <p card-body-text>444</p> -->
                      <!---Social share-->
                    </ion-card-content>
                  </ion-card>
                </div>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col width="100%" align="center">
              <button ion-button small (click)="addMotorcycle()" color="dark" type="button">Add Motorcycle</button>
            </ion-col>
          </ion-row>


        <!-- Add Motorcycle Information 5/31/2018 -->
        <ion-row>
          <ion-col>
              <ion-list formArrayName="motorcycles" no-lines>
                <div *ngFor="let applicationForm of applicationForm.controls.motorcycles.controls; let i=index">
                  <div [formGroupName]="i">
                    <ion-card-header>Motorcycle #{{ i + 1 }}
                      <ion-buttons end>
                        <button ion-button outline (click)="removeMotorcycle(i)" color="danger" type="button"><ion-icon name="trash"></ion-icon></button>
                      </ion-buttons>
                    </ion-card-header>

                    <ion-row>
                      <ion-col>
                        <ion-item no-padding color="accent">
                          <ion-label>Year</ion-label>
                          <ion-input type="text" formControlName="year" required placeholder="1999"></ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col>
                        <ion-item no-padding color="accent">
                          <ion-label>Color</ion-label>
                          <ion-input type="text" formControlName="color" required placeholder="Black"></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-item no-padding color="accent">
                      <ion-input type="text" formControlName="make" required placeholder="Honda"></ion-input>
                    </ion-item>
                    <ion-item no-padding color="accent">
                      <ion-input type="text" formControlName="model" required placeholder="Goldwing"></ion-input>
                    </ion-item>
                    <ion-item no-padding color="accent">
                      <ion-input type="text" formControlName="licensePlate" required placeholder="TYF-832"></ion-input>
                    </ion-item>
                    <ion-item no-padding color="accent">
                      <ion-input type="number" formControlName="currentMileage" placeholder="Current Mileage"></ion-input>
                    </ion-item>
                  </div>
                </div>
                <button ion-button small (click)="addMotorcycle()" color="dark" type="button">Add Motorcycle</button>
              </ion-list>
          </ion-col>
        </ion-row>
        <!-- Add Motorcycle Information 5/31/2018 -->
        <ion-row>
          <ion-col width="100%" align="center">
            <ion-label>Motorcycle Information</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Other Club?</ion-label>
                <ion-select formControlName="anyOtherClub" interface="popover" cancelText="Cancel" okText="OK">
                  <ion-option *ngFor="let anyOtherClub of yesOrNo" [value]="anyOtherClub">{{ anyOtherClub }}</ion-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Name of other Club</ion-label>
                <ion-input type="text" formControlName="nameOfOtherClub"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.nameOfOtherClub">
                <div class="error-message" *ngIf="applicationForm.get('nameOfOtherClub').hasError(validation.type) && (applicationForm.get('nameOfOtherClub').dirty || applicationForm.get('nameOfOtherClub').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width="100%" align="center">
            <ion-label>Personal Information</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Marital Status</ion-label>
                <ion-select formControlName="maritalStatus" interface="popover" cancelText="Cancel" okText="OK">
                  <ion-option *ngFor="let maritalStatus of maritalStatus" [value]="maritalStatus">{{ maritalStatus }}</ion-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>How many children?</ion-label>
                <ion-input formControlName="numberOfChildren" type="number"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Employer</ion-label>
                <ion-input type="text" formControlName="nameOfEmployer"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.nameOfEmployer">
                <div class="error-message" *ngIf="applicationForm.get('nameOfEmployer').hasError(validation.type) && (applicationForm.get('nameOfEmployer').dirty || applicationForm.get('nameOfEmployer').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Years Employed</ion-label>
                <ion-input formControlName="yearsEmployed" type="number"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.yearsEmployed">
                <div class="error-message" *ngIf="applicationForm.get('yearsEmployed').hasError(validation.type) && (applicationForm.get('yearsEmployed').dirty || applicationForm.get('yearsEmployed').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Occupation</ion-label>
                <ion-input type="text" formControlName="occupation"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.occupation">
                <div class="error-message" *ngIf="applicationForm.get('occupation').hasError(validation.type) && (applicationForm.get('occupation').dirty || applicationForm.get('occupation').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Annual Salary</ion-label>
                <ion-select formControlName="annualSalary" interface="popover" cancelText="Cancel" okText="OK">
                  <ion-option *ngFor="let annualSalary of annualSalary" [value]="annualSalary">{{ annualSalary }}</ion-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Highest Education</ion-label>
                <ion-select formControlName="highestEducation" interface="popover" cancelText="Cancel" okText="OK">
                  <ion-option *ngFor="let highestEducation of highestEducation" [value]="highestEducation">{{ highestEducation }}</ion-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width="100%" align="center">
            <ion-label>Miscellaneous Information</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Skills & Pastimes</ion-label>
                <ion-input type="text" formControlName="skillsPastimes"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.skillsPastimes">
                <div class="error-message" *ngIf="applicationForm.get('skillsPastimes').hasError(validation.type) && (applicationForm.get('skillsPastimes').dirty || applicationForm.get('skillsPastimes').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Blood Type</ion-label>
                <ion-select formControlName="bloodType" interface="popover" cancelText="Cancel" okText="OK">
                  <ion-option *ngFor="let bloodType of bloodTypes" [value]="bloodType">{{ bloodType }}</ion-option>
                </ion-select>
              </ion-item>
            </div>

            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Allergies</ion-label>
                <ion-input type="text" formControlName="allergies"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.allergies">
                <div class="error-message" *ngIf="applicationForm.get('allergies').hasError(validation.type) && (applicationForm.get('allergies').dirty || applicationForm.get('allergies').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Organ donor?</ion-label>
                <ion-select formControlName="organDonar" interface="popover" cancelText="Cancel" okText="OK">
                  <ion-option *ngFor="let organDonar of yesOrNo" [value]="organDonar">{{ organDonar }}</ion-option>
                </ion-select>
              </ion-item>
            </div>

            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Member's Title</ion-label>
                <ion-select formControlName="memberTitle" interface="popover" cancelText="Cancel" okText="OK">
                  <ion-option *ngFor="let memberTitle of memberTitles" [value]="memberTitle">{{ memberTitle }}</ion-option>
                </ion-select>
              </ion-item>
            </div>

            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Type of Membership</ion-label>
                <ion-select formControlName="typeOfMembership" interface="popover" cancelText="Cancel" okText="OK">
                  <ion-option *ngFor="let typeOfMembership of typeOfMemberships" [value]="typeOfMembership">{{ typeOfMembership }}</ion-option>
                </ion-select>
              </ion-item>
            </div>

            <div>
              <ion-item no-padding color="accent">
                <ion-label floating>Type of typeOfChapter</ion-label>
                <ion-select formControlName="typeOfChapter" interface="popover" cancelText="Cancel" okText="OK">
                  <ion-option *ngFor="let typeOfChapter of typeOfChapters" [value]="typeOfChapter">{{ typeOfChapter }}</ion-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>

          </ion-col>
        </ion-row>

      </form>
    </div>
  </ion-grid>

</ion-content>
