<ion-header>
  <ion-navbar>
    <ion-title>profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="transparent-header">
  <ion-header>
    <ion-navbar>
    </ion-navbar>
  </ion-header>

  <div id="profile-bg" [ngStyle]="{'background-image': 'url(' + member.coverImage +')'}"></div>
  <div id="content">
    <div id="profile-info" padding>
      <!-- <img id="profile-image" *ngIf="!signingIn"[src]="member.profileImage"> -->
      <div *ngIf="signingIn == false">
        <img id="profile-image" [src]="member.profileImage">
      </div>
      <div *ngIf="signingIn == true">
        <img id="profile-image" [src]="member.profileQrImage">
      </div>
      <!-- <img id="profile-image" [src]="member.profileImage"> -->

      <h3 id="profile-name">{{member.name}}</h3>
      <p>{{member.chapter}} Chapter &bull; {{member.status}}</p>
      <p class="profile-description">{{member.title}}</p>

      <!-- Buttons  -->
      <ion-row nowrap justify-content-center>

        <button ion-button *ngIf="!following" small color="purple">Events</button>
        <!-- <button ion-button *ngIf="following" class="follow-button" small color="purple" (click)="follow()">Following<ion-icon name="checkmark"></ion-icon></button> -->
        <button ion-button [disabled]="underConstruction" *ngIf="!following" small color="purple" (click)="follow()">Garage</button>
        <button ion-button *ngIf="following" class="follow-button" small color="purple" (click)="follow()">Following<ion-icon name="checkmark"></ion-icon></button>
        <!-- <button ion-button [disabled]="underConstruction"*ngIf="!following" small color="purple" (click)="follow()">Follow</button>
        <button ion-button *ngIf="following" class="follow-button" small color="purple" (click)="follow()">Following<ion-icon name="checkmark"></ion-icon></button> -->
        <button ion-button *ngIf="!signingIn" small color="purple" (click)="signIn()">Sign In</button>
        <button ion-button *ngIf="signingIn" class="follow-button" small color="purple" (click)="signIn()">Signing In<ion-icon name="checkmark"></ion-icon></button>

      </ion-row>

      <ion-row>
        <button ion-button block (click)="openQrCodeModal()">
          <ion-icon name="finger-print">Here To Sign-In</ion-icon>
        </button>
      </ion-row>
    </div>
    <hr/>

    <ion-row class="profile-numbers">
      <ion-col col-4>
        <p>Followers</p>
        <span>{{member.followers}}</span>
      </ion-col>
      <ion-col col-4>
        <p>Current Miles</p>
        <span>{{member.following}}</span>
      </ion-col>
      <ion-col col-4>
        <p>Member Since</p>
        <span>{{member.memberSince}}</span>
      </ion-col>
    </ion-row>

    <div id="posts">
      <ion-card *ngFor="let post of posts">
        <ion-item>
          <ion-avatar item-start>
            <img [src]="member.profileImage">
          </ion-avatar>
          <h2 class="sticky">{{member.name}}</h2>
          <p>{{post.date}}</p>
        </ion-item>
        <img [src]="post.postImageUrl" (click)="imageTapped(post)">
        <ion-card-content>
          <p>{{post.text}}</p>
        </ion-card-content>
        <ion-row>
          <ion-col col-4>
            <button ion-button color="purple" clear small icon-left (click)="like(post)">
              <ion-icon name='thumbs-up'></ion-icon>
              {{post.likes}} Likes
            </button>
          </ion-col>
          <ion-col col-5>
            <button ion-button no-padding color="purple" clear small icon-left (click)="comment(post)">
              <ion-icon name='text'></ion-icon>
              {{post.comments}} Comments
            </button>
          </ion-col>
          <ion-col col-3 align-self-center text-center>
            <p>
              {{post.timestamp}}
            </p>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
</ion-content>
