<ion-header>
  <ion-navbar>
    <ion-title>profile</ion-title>
    <ion-buttons end>
      <button style="background: transparent;" (click)="shareProvider.displayToolMenu(navCtrl)">
        <ion-icon name="construct" style="zoom:1.3;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="transparent-header">
  <div id="profile-bg" [ngStyle]="{'background-image': 'url(' + member.coverImage +')'}"></div>
  <div id="content">
    <div id="profile-info" padding>
      <!-- <img id="profile-image" *ngIf="!signingIn"[src]="member.profileImage"> -->
      <div *ngIf="signingIn == false">
        <img id="profile-image" [src]="member.profileImage">
      </div>
      <div *ngIf="signingIn == true">
        <img id="profile-image" [src]="member.profileQrImage">
      </div>
      <!-- <img id="profile-image" [src]="member.profileImage"> -->

      <h3 id="profile-name" style="color: #FCD736;">{{member.name}}</h3>
      <p style="color: #FCD736;">{{member.chapter}} Chapter &bull; {{member.status}}</p>
      <p class="profile-description" style="color: #FCD736;">{{member.title}}</p>

      <!-- Buttons  -->
      <ion-row nowrap justify-content-center>

        <!--button ion-button small (click)="eventsPage()" style="color: #FCD736;">Events</button-->
        <button ion-button small color="purple" (click)="garagePage()" style="color: #FCD736;">Garage</button>

      </ion-row>

      <ion-row>
        <button ion-button block (click)="openQrCodeModal()">
          <ion-icon name="finger-print" style="color: #FCD736;">Here To Sign-In</ion-icon>
        </button>
      </ion-row>
    </div>
    <hr/>

    <!--ion-row class="profile-numbers">
      <ion-col col-6>
        <p style="color: #FCD736;">Member Since</p>
        <span>{{member.memberSince}}</span>
      </ion-col>
      <ion-col col-6>
        <p style="color: #FCD736;">Current Miles</p>
        <span>{{member.following}}</span>
      </ion-col>
    </ion-row-->

    
  </div>
</ion-content>
