<ion-header>
  <ion-navbar hideBackButton>
    <ion-title></ion-title>
    <ion-buttons end>
      <button style="background: transparent;" (click)="shareProvider.displayToolMenu(navCtrl)">
        <ion-icon name="construct" style="zoom:1.3;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="transparent-header">
  <div id="profile-bg" [ngStyle]="{'background-image': 'url(' + member.coverImage +')'}"></div>
  <div id="content">
    <div id="profile-info" padding>
      <ion-grid>
        <ion-row>
          <ion-col width="25%">
              <p style="color: #444; font-weight: bold;">Member Since</p>
              <span style="color:blueviolet; font-weight: bold;">{{member.memberSince}}</span>
          </ion-col>
          <ion-col width="50%">
             <!-- <img id="profile-image" *ngIf="!signingIn"[src]="member.profileImage"> -->
      <div *ngIf="signingIn == false">
          <ion-buttons id="profile-pic-icon" end><button style="background: transparent;" (click)="changeProfilePic()"><ion-icon color="secondary" name="create" style="zoom:1.3;"></ion-icon></button></ion-buttons>
          <img id="profile-image" [src]="member.profileImage">
        </div>
        <div *ngIf="signingIn == true">
          <img id="profile-image" [src]="member.profileQrImage">
        </div>
        <!-- <img id="profile-image" [src]="member.profileImage"> -->
          </ion-col>
          <ion-col width="25%">
              <p style="color: #444; font-weight: bold;">Current Miles (Year to Date)</p>
              <span style="color:blueviolet; font-weight: bold;">{{member.following}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>

      <h3 id="profile-name" style="color: #FCD736;">{{member.name}}</h3>
      <p style="color: #FCD736;">ID: {{member.easyid}}</p>
      <p style="color: #FCD736;">{{member.chapter}} Chapter &bull; {{member.status}}</p>
      <p *ngIf="member.title !== 'No Title' && member.title!== ''" class="profile-description" style="color: #FCD736;">{{member.title}}</p>

      <!-- Buttons  -->
      <ion-row nowrap justify-content-center>

        <!--button ion-button small (click)="eventsPage()" style="color: #FCD736;">Events</button-->
        <button ion-button small color="purple" (click)="garagePage()" style="color: #FCD736;">Garage</button>
        <!--button ion-button small color="purple" (click)="chaptersPage()" style="color: #FCD736;">Chapters</button-->
        <button ion-button small color="purple" (click)="membersPage()" style="color: #FCD736;">Members</button>
<!-- ralix -->
        <!--button ion-button small color="purple" (click)="eventsPage()" style="color: #FCD736;">Events</button-->
        <button ion-button small color="purple" (click)="eventsPage()" style="color: #FCD736;">Events</button>
      </ion-row>

      <ion-row>
        <button ion-button block (click)="openQrCodeModal()">
          <ion-icon name="finger-print" style="color: #FCD736;">Here To Sign-In</ion-icon>
        </button>
      </ion-row>
    </div>

    <!--ion-row class="profile-numbers">
      <ion-col col-6>
        <p style="color: #FCD736;">Member Since</p>
        <span>{{member.memberSince}}</span>
      </ion-col>
      <ion-col col-6>
        <p style="color: #FCD736;">Current Miles</p>
        <span>{{member.following}}</span>
      </ion-col>
    </ion-row-->


  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col col-2 (click)="goToLastMonth()"><ion-icon name="arrow-back"></ion-icon></ion-col>
      <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
      <ion-col col-2 (click)="goToNextMonth()"><ion-icon name="arrow-forward"></ion-icon></ion-col>
    </ion-row>
  </div>

  <div class="calendar-body">
    <ion-grid>
      <ion-row class="calendar-weekday">
        <ion-col>Su</ion-col>
        <ion-col>Mo</ion-col>
        <ion-col>Tu</ion-col>
        <ion-col>We</ion-col>
        <ion-col>Th</ion-col>
        <ion-col>Fr</ion-col>
        <ion-col>Sa</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
        <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</ion-col>
        <ion-col col-1 *ngFor="let day of daysInThisMonth" (click)="selectDate(day)">
          <span class="currentDate" *ngIf="currentDate === day && currentYear === myyear && currentMonth === this.monthNames[mymonth]; else otherDt">{{day}}</span>
          <ng-template #otherDt>
            <span class="otherDate">{{day}}</span>
          </ng-template>
          <br>
          <div class="event-bullet" *ngIf="checkMeeting(day) && checkEvent(day)" style="margin: 2px auto auto 12px; float: left;"></div>
          <div class="event-bullet" *ngIf="checkMeeting(day) && checkEvent(day)" style="margin: 2px auto auto 3px; background-color: blue; float: left;"></div>
          <div class="event-bullet" *ngIf="checkEvent(day) && !checkMeeting(day)"></div>
          <div class="event-bullet" *ngIf="!checkEvent(day) && checkMeeting(day)" style="background-color: blue;"></div>
        </ion-col>
        <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month"(click)="goToNextMonth()">{{nextDay}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!--div class="selected-event" *ngIf="isSelected">
      <ion-list>
        <ion-item *ngFor="let se of selectedEvent">
          <ion-buttons end>
            <button ion-button clear icon-only (click)="deleteEvent(se)">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-buttons>
          <h2>{{se.title}}</h2>
          <h3>{{se.message}}</h3>
          <p>Start Date: {{se.startDate}}<br>
          Start Date: {{se.endDate}}</p>
        </ion-item>
      </ion-list>
  </div-->
</ion-content>
