<!--
  Generated template for the ViewupdatemeetingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>Chapter Meeting Application</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-grid>
          <div class="form">
            <form [formGroup]="updateMeetingForm">
              <ion-row><ion-col style="color: #FCD736; font-weight: bold; text-align: center; vertical-align: middle;" col-12>CHAPTER INFORMATION</ion-col></ion-row>
                <ion-row>
                  <ion-col style="color: #FCD736; font-weight: bold;" col-4>
                        Region
                  </ion-col>
                  <ion-col style="color: #FCD736;" col-8>
                      {{data.region}}
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col style="color: #FCD736; font-weight: bold;" col-4>
                        Chapter
                  </ion-col>
                  <ion-col style="color: #FCD736;" col-8>
                      {{data.chapter_name}}
                </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col style="color: #FCD736; font-weight: bold;" col-4>
                        Meeting Name
                    </ion-col>
                    <ion-col style="color: #FCD736;" col-8>
                        {{data.title}}
                    </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col style="color: #FCD736; font-weight: bold;" col-4>
                          Description
                      </ion-col>
                      <ion-col style="color: #FCD736;" col-8>
                          {{data.description}}
                      </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="color: #FCD736; font-weight: bold;" col-4>
                          Start Date & Time
                      </ion-col>
                      <ion-col style="color: #FCD736;" col-8>
                          {{data.start_dttm}}
                      </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="color: #FCD736; font-weight: bold;" col-4>
                            End Date & Time
                        </ion-col>
                        <ion-col style="color: #FCD736;" col-8>
                            {{data.end_dttm}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="color: #FCD736; font-weight: bold;" col-4>
                            Country
                        </ion-col>
                        <ion-col style="color: #FCD736;" col-8>
                            {{data.venue_country}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="color: #FCD736; font-weight: bold;" col-4>
                            State
                        </ion-col>
                        <ion-col style="color: #FCD736;" col-8>
                            {{data.venue_state}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="color: #FCD736; font-weight: bold;" col-4>
                              City
                        </ion-col>
                        <ion-col style="color: #FCD736;" col-8>
                            {{data.venue_city}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="color: #FCD736; font-weight: bold;" col-4>
                            Address
                        </ion-col>
                        <ion-col style="color: #FCD736;" col-8>
                            {{data.venue_address}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="color: #FCD736; font-weight: bold;" col-4>
                          Zipcode
                        </ion-col>
                        <ion-col style="color: #FCD736;" col-8>
                            {{data.venue_zipcode}}
                        </ion-col>
                    </ion-row>
                    <ion-row><ion-col></ion-col></ion-row>
                      <ion-row><ion-col style="color: #FCD736; font-weight: bold; text-align: center; vertical-align: middle;" col-12>CONTACT INFORMATION</ion-col></ion-row>
                    <ion-row>
                        <ion-col style="color: #FCD736; font-weight: bold;" col-4>
                              Name of Officer
                        </ion-col>
                        <ion-col style="color: #FCD736;" col-8>
                            {{data.first_name_of_officer}}&nbsp;&nbsp;{{data.last_name_of_officer}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="color: #FCD736; font-weight: bold;" col-4>
                              Title
                        </ion-col>
                        <ion-col style="color: #FCD736;" col-8>
                            {{data.title_of_officer}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="color: #FCD736; font-weight: bold;" col-4>
                              Telephone Number
                        </ion-col>
                        <ion-col style="color: #FCD736;" col-8>
                            {{data.telephonenumber_of_officer}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="color: #FCD736; font-weight: bold;" col-4>
                              E-Mail Address
                        </ion-col>
                        <ion-col style="color: #FCD736;" col-8>
                            {{data.emailaddress_of_officer}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col style="color: #FCD736; font-weight: bold;" col-4>
                          Additional Info
                      </ion-col>
                      <ion-col style="color: #FCD736;" col-8>
                          {{data.additional_info}}
                      </ion-col>
                    </ion-row>
                    <!--ion-row>
                      <ion-col style="color: #FCD736; font-weight: bold;" col-4>
                          Request Status
                      </ion-col>
                      <ion-col style="color: #FCD736;" col-8>
                          {{data.request_status}}
                      </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="color: #FCD736; font-weight: bold;" col-4>
                            Approved By
                        </ion-col>
                        <ion-col style="color: #FCD736;" col-8>
                            {{data.officer_approved_first_name}}&nbsp;&nbsp;{{data.officer_approved_last_name}}
                        </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col style="color: #FCD736; font-weight: bold;" col-4>
                              Date Approved
                          </ion-col>
                          <ion-col style="color: #FCD736;" col-8>
                              {{data.dttmaccepted}}
                          </ion-col>
                      </ion-row>

                    <ion-row *ngIf="(data.request_status != 'Approved') && (data.canIUpdatetThisMeeting == 'yes')">
                            <ion-col>
                              <div>
                                <ion-item no-padding color="accent">
                                  <ion-label floating>Request Status</ion-label>
                                  <ion-select formControlName="request_status" interface="popover" cancelText="Cancel" okText="OK" [disabled]="data.request_status == 'Approved'">
                                    <ion-option *ngFor="let st of meetingRequestStatus" [value]="st" [selected]="updateMeetingForm.controls['request_status'].value == st">{{ st }}</ion-option>
                                  </ion-select>
                                </ion-item>
                                <ng-container *ngFor="let validation of validation_messages.request_status">
                                  <div class="error-message" *ngIf="updateMeetingForm.get('request_status').hasError(validation.type) && (updateMeetingForm.get('request_status').dirty || updateMeetingForm.get('request_status').touched || submitAttempt)">
                                    {{ validation.message }}
                                  </div>
                                </ng-container>
                              </div>
                            </ion-col>
                    </ion-row>

                    <ion-row *ngIf="(data.request_status != 'Approved') && (data.canIUpdatetThisMeeting == 'yes')">
                        <ion-col style="color: #FCD736; text-align: center; vertical-align: middle;" col-12>
                            <button ion-button small round (click)="update()">UPDATE</button>
                        </ion-col>
                      </ion-row-->            
            </form>
          </div>
      </ion-grid>
  </ion-content>