<ion-header>
  <ion-navbar>
    <ion-title>manage members</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
        <ion-col width="100%" align="center">
            <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="search()"></ion-searchbar>
        </ion-col>
    </ion-row>
    <div *ngIf="data.pendingmemflag">
        <ion-row>
            <ion-col width="100%" align="center">
                <h3>{{data.nomemtitle}}</h3>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="(items.length > 0)">
            <ion-col align="left" col-9>
            <h4>Member's Name & Chapter Name</h4>
            </ion-col>
            <ion-col align="center" col-3>
            <h4>View</h4>    
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of items">
            <ion-col align="left" col-9 style="color: #FCD736;">
            {{item["first_name"]}}&nbsp;{{item["last_name"]}}
            <br>
            {{item["chapter_name"]}}
            </ion-col>
            <ion-col align="center" col-3>
                <ion-buttons end><button style="background: transparent;" (click)="openMember(item['id'])"><ion-icon color="secondary" name="open" style="zoom:1.3;"></ion-icon></button></ion-buttons>
            </ion-col>
        </ion-row>
    </div>
    <div *ngIf="data.searchmemflag">
        <ion-row>
            <ion-col width="100%" align="center">
                <h3>{{data.searchmemtitle}}</h3>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="(searcheditems.length > 0)">
            <ion-col align="left" col-9>
                <h4>Member's Name & Chapter Name</h4>
            </ion-col>
            <ion-col align="center" col-3>
                <h4>View</h4>    
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of searcheditems">
            <ion-col align="left" col-9 style="color: #FCD736;">
                {{item["first_name"]}}&nbsp;{{item["last_name"]}}
                <br>
                {{item['chapter_name']}}
            </ion-col>
            <ion-col align="center" col-3>
                <ion-buttons end><button style="background: transparent;" (click)="openMember(item['id'])"><ion-icon color="secondary" name="open" style="zoom:1.3;"></ion-icon></button></ion-buttons>
            </ion-col>
        </ion-row>
    </div>
  </ion-grid>
</ion-content>