<ion-header>
  <ion-navbar>
    <ion-title>garage</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="transparent-header">

    <ion-row>
        <ion-col width="100%" align="center">
            <ion-buttons end><button style="background: transparent;" (click)="addMotorcycle()"><ion-icon color="secondary" name="add-circle" style="zoom:2;"></ion-icon></button></ion-buttons>
        </ion-col>
      </ion-row>
  <div id="posts">
    <ion-grid>
        <ion-row>
          <ion-col>
            <div style="border-style: dotted; border-color: #FCD736; border-radius: 15px; border-width: 1px;" class="form">
              <form [formGroup]="garageForm">
                <ion-grid>
                  <ion-row *ngIf="data.license_exp_alert_msg !== ''">
                    <ion-col style="color: red;">{{ data.license_exp_alert_msg }}</ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-item no-padding color="accent">
                        <ion-label floating>License Expiration Date</ion-label>
                        <ion-datetime formControlName="licenseexpdt" max="{{ data.maxyear }}" custom-datetime [disabled]="data.license_exp_alert_msg == ''"></ion-datetime>
                      </ion-item>
                      <ng-container *ngFor="let validation of validation_messages.licenseexpdt">
                          <div class="error-message" *ngIf="garageForm.get('licenseexpdt').hasError(validation.type) && (garageForm.get('licenseexpdt').dirty || garageForm.get('licenseexpdt').touched || submitAttempt)">
                            {{ validation.message }}
                          </div>
                      </ng-container>
                  </ion-row>
                  <ion-row *ngIf="data.license_exp_alert_msg !== ''">
                      <ion-col width="100%" align="center">
                        <button ion-button small round (click)="uploadLicense()">Capture License Picture</button>
                      </ion-col>
                      <ion-col>
                        <ion-buttons end><button style="background: transparent;" (click)="displayLicensePic()"><ion-icon color="secondary" name="open" style="zoom:1.3;"></ion-icon></button></ion-buttons>
                      </ion-col>
                  </ion-row>
                </ion-grid>
              </form>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col *ngIf="memberMotorcycleInfo.length==0" width="100%" align="center">
                <h3>Your garage is empty.</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-card *ngFor="let motorcycleInfo of memberMotorcycleInfo">
      <ion-item style="background: whitesmoke">
        <!--ion-avatar item-start>
          <img [src]="member.profileImage">
        </ion-avatar-->
        <h2 class="sticky">{{motorcycleInfo.make}}&nbsp;&nbsp;{{motorcycleInfo.model}}</h2>
        <p>Year: {{motorcycleInfo.year}}</p>
      </ion-item>
      <!--img [src]="motorcycleInfo.postImageUrl" (click)="imageTapped(motorcycleInfo)"-->
      <ion-card-content style="background: whitesmoke">
        <!--h2>Year: {{motorcycleInfo.year}}</h2-->
        <!--h2>Make: {{motorcycleInfo.make}}</h2-->
        <!--h2>Model: {{motorcycleInfo.model}}</h2-->
        <h2>Color: {{motorcycleInfo.color}}</h2>
        <h2>Odometer: {{motorcycleInfo.total_miles}}</h2>
      </ion-card-content>

      <ion-row>
        <button ion-button block (click)="openGarageModal()">
          <ion-icon name="finger-print" style="color: #FCD736;">Update Motorcycle Info</ion-icon>
        </button>
    </ion-row>
    <!-- <ion-row>
      <button ion-button block (click)="openQrCodeModal()">
        <ion-icon name="finger-print" style="color: #FCD736;">Here To Sign-In</ion-icon>
      </button>
    </ion-row> -->

    </ion-card>
  </div>
</ion-content>
