<ion-header>
  <ion-navbar>
    <ion-title>Welcome join us</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row padding>
      <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <!--Logo-->
        <div class="logo">
          <img src="assets/images/logo/lamaHandsRoundCornersLogo.png">
        </div>
        <!--End logo-->
      </ion-col>
    </ion-row>

    <div class="form">
      <!--Form-->
      <form [formGroup]="joinUsForm">

        <ion-row>
          <ion-col>
            <div>
              <!---Input field firstName-->
              <ion-item no-padding color="accent">
                <ion-label floating><ion-icon name="person"></ion-icon>First Name</ion-label>
                <ion-input formControlName="firstName" type="text"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.firstName">
                <div class="error-message" *ngIf="joinUsForm.get('firstName').hasError(validation.type) && (joinUsForm.get('firstName').dirty || joinUsForm.get('firstName').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <div>
              <!---Input field lastName-->
              <ion-item no-padding color="accent">
                <ion-label floating>Last Name</ion-label>
                <ion-input formControlName="lastName" type="text"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.lastName">
                <div class="error-message" *ngIf="joinUsForm.get('lastName').hasError(validation.type) && (joinUsForm.get('lastName').dirty || joinUsForm.get('lastName').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <div>
              <!---Input field Email-->
              <ion-item no-padding color="accent">
                <ion-label floating><ion-icon name="mail"></ion-icon>Email</ion-label>
                <ion-input formControlName="email" type="text"></ion-input>
              </ion-item>
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message" *ngIf="joinUsForm.get('email').hasError(validation.type) && (joinUsForm.get('email').dirty || joinUsForm.get('email').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <div formGroupName="matching_passwords">
              <!---Input field Password-->
              <ion-item no-padding color="accent">
                  <ion-label floating><ion-icon name="key"></ion-icon>Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.password">
                  <div class="error-message" *ngIf="joinUsForm.get('matching_passwords').get('password').hasError(validation.type) && (joinUsForm.get('matching_passwords').get('password').dirty || joinUsForm.get('matching_passwords').get('password').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <!---Input field Confirm Password-->
              <ion-item no-padding color="accent">
                  <ion-label floating><ion-icon name="checkmark"></ion-icon>Confirm Password</ion-label>
                <ion-input type="password" formControlName="confirm_password"></ion-input>
              </ion-item>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.confirm_password">
                  <div class="error-message" *ngIf="joinUsForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (joinUsForm.get('matching_passwords').get('confirm_password').dirty || joinUsForm.get('matching_passwords').get('confirm_password').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>
            </div>

            <!-- These validations are for the form group -->
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.matching_passwords">
                  <div class="error-message" *ngIf="joinUsForm.get('matching_passwords').hasError(validation.type) && (joinUsForm.get('matching_passwords').get('confirm_password').dirty || joinUsForm.get('matching_passwords').get('confirm_password').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
            </div>


            <!---  53018-->
          </ion-col>
        </ion-row>

        <!-- <ion-list> -->
        <ion-row>
          <ion-col width="100%" align="center">
            <ion-label>Please select a chapter association</ion-label>
          </ion-col>
        </ion-row>

        <ion-list radio-group formControlName="selection" padding-top no-lines>

          <ion-row nowrap justify-content: center>
            <ion-col>
              <ion-item>
                <ion-label>National</ion-label>
                <ion-radio float-right value="usa" (click)="selectNational()"></ion-radio>
              </ion-item>
            </ion-col>

            <!---  -->
            <ion-col width="100%" align="center">
              <ion-label>OR</ion-label>
            </ion-col>

            <ion-col>
              <ion-item>
                <ion-label>International</ion-label>
                <ion-radio value="international" (click)="selectInternational()"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
          <p class="invalidmsg" *ngIf="(submitAttempt && !joinUsForm.controls.selection.valid)">Are you signing up for a National chapter or an International chapter?</p>
        </ion-list>
        <!---  -->

        <div id="usainfo" *ngIf="data.nationalSelected">
          <ion-list>
            <ion-item [class.invalid]="!joinUsForm.controls.region.valid && (joinUsForm.get('region').dirty || submitAttempt)">
              <ion-label>Region</ion-label>
              <ion-select formControlName="region" interface=popover>
                <ion-option (ionSelect)="populateUSAStatesByRegion()" *ngFor="let curregion of data.usaregions" [value]="curregion.id">{{curregion.name}}</ion-option>
              </ion-select>
            </ion-item>

            <ion-item [class.invalid]="!joinUsForm.controls.state.valid && (joinUsForm.get('state').dirty || submitAttempt)">
              <ion-label>State</ion-label>
              <ion-select formControlName="state" interface=popover>
                <ion-option (ionSelect)="populateUSAChaptersByState()" *ngFor="let curstate of data.usastates" [value]="curstate.id">{{curstate.name}}</ion-option>
              </ion-select>
            </ion-item>

            <ion-item [class.invalid]="!joinUsForm.controls.chapter.valid && (joinUsForm.get('chapter').dirty || submitAttempt)">
              <ion-label>Chapter</ion-label>
              <ion-select formControlName="chapter" interface=popover>
                <ion-option *ngFor="let curchap of data.usachapters" [value]="curchap.id">{{curchap.name}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>

        <div id="intlinfo" *ngIf="data.intlSelected">
          <ion-list>
            <ion-item [class.invalid]="!joinUsForm.controls.country.valid && (joinUsForm.get('country').dirty || submitAttempt)">
              <ion-label>Country</ion-label>
              <ion-select formControlName="country" interface=popover>
                <ion-option (ionSelect)="populateIntlChaptersByReg()" *ngFor="let curcountry of data.countries" [value]="curcountry.id">{{curcountry.name}}</ion-option>
              </ion-select>
            </ion-item>

            <ion-item [class.invalid]="!joinUsForm.controls.intlchapter.valid && (joinUsForm.get('intlchapter').dirty || submitAttempt)">
              <ion-label>Chapter</ion-label>
              <ion-select formControlName="intlchapter" interface=popover>
                <ion-option *ngFor="let curintlchap of data.intlchapters" [value]="curintlchap.id">{{curintlchap.name}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>

        <ion-row>
          <ion-col width="100%" align="center">
            <button ion-button small round (click)="submit()">Sign UP</button>
          </ion-col>
        </ion-row>

      </form>
    </div>
    <!---Register button-->
    <!-- <button ion-button float-right clear button-clear (click)="onEvent('onRegister')">{{data.submit}}</button> -->

  </ion-grid>

</ion-content>
